<template name="notebookShow">
  <div class="todo-list">
    <div class="task-list-heading">
      <label>
        <i class="fa fa-note"></i> {{name}}
      </label>
    </div>
    <div class="task-list-body">
      {{#if inserting}}
        <div class="form-box">
          {{>noteInsert}}
        </div>
      {{else}}
      {{/if}}
      {{#each notes}}
        {{>note}}
      {{/each}}
      <div class="buttons-box">
        <button class="btn btn-info add-note" id="addNote"><i class="fa fa-plus"></i> Add note</button>
      </div>
    </div>
  </div>
</template>
