body {
  background-color: #B2C7D2;
}

#wrapper {
  padding-right: 0;
}

.form-control {
  border-color: #ccc;
  &:focus {
    border-color: rgb(143, 181, 213);
  }
}

.widget-style {
  display: inline-block;
  height: 405px;
  width: 350px;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #eee;
  border-radius: 4px;
  vertical-align: top;
}


.task-list-box {
  display: inline-block;
  width: 100%;
  min-width: 200px;
  border: 1px solid #ccc;
  background-color: #003872;
  border-radius: 5px;
  vertical-align: top;
  position: relative;
  margin-bottom: 10px;
  .task-btns {
    position: absolute;
    right: 20px;
    top: 18px;
  }
  i {
    font-size: 19px;
    vertical-align: middle;
    &.fa-trash {
      color: #F76646;
      margin-top: -2px;
    }
    &.fa-edit {
      color: #1CB02F;
    }
  }
  .task-list-heading {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    label {
      font-size: 16px;
    }
  }
  .task-list-body {
    height: 334px;
    overflow: hidden;
    overflow-y: auto;
    small {
      font-style: italic;
      display: block;
      margin-bottom: 5px;
    }
  }
  .buttons-box {
    text-align: center;
    margin: 10px;
  }
  .fa-tasks {
    font-size: 19px;
    color: #666;
    vertical-align: middle;
  }
  .todo-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    margin: 10px;
    p {
      border-bottom: 0;
      padding-bottom: 0;
    }
    label {
      font-size: 14px;
    }
  }

}

.new-list-box {
  max-width: 330px;
  height: 405px;
  display: inline-block;
  position: relative;
  #new-list-button {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -50px;
  }
}

.form-box {
  display: inline-block;
  width: 330px;
  min-height: 405px;
  vertical-align: top;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  background-color: #eee;
  color: #666;
  legend {
    color: #666;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
  }
}
