<template name="taskInsert">
  {{#autoForm collection="Tasks" type="insert" id="insertTask"}}
    <fieldset>
      <legend> Insert a task</legend>
      {{>afQuickField name="name"}}
      {{>afQuickField name="description"}}
      {{>afQuickField name="due" type="bootstrap-datetimepicker"}}
    </fieldset>
    <button name="cancel" type="reset" id="cancelSubmit" class="btn btn-warning btn-sm">Cancel</button>
    <button name="submitTask" type="submit" id="submitTask" class="btn btn-success btn-sm">Insert</button>
  {{/autoForm}}
</template>
