<template name="budgetShow">
  <div class="budget">
        <div class="budget-heading">
            <label>
                <i class="fa fa-money"></i> {{name}}
                <p> {{balance}} $</p>
            </label>
            <div class="action-buttons pull-right">
                <i class="fa fa-credit-card" id="addTransaction"></i>
                <i class="fa fa-edit" id="edit-budget-button"></i>
                <i class="fa fa-trash" id="delete-budget-button"></i>
            </div>
        </div>
        <div class="budget-body">
            {{#if inserting}}
                <div class="form-box-budget">
                    {{>transactionInsert}}
                </div>
            {{else}}
                <div class="budget-transactions">
                    <div class="row">
                        <div class="col-md-6 inc">
                            <div class="incomes">
                                <p class="heading"><i class="fa fa-plus-circle"></i> {{incomes_sum}}</p>
                                {{#each incomes}}
                                    {{>transaction}}
                                {{/each}}
                            </div>
                        </div>
                        <div class="col-md-6 ex">
                            <div class="expenses">
                                <p class="heading"><i class="fa fa-minus-circle"></i> {{expenses_sum}} </p>
                                {{#each expenses}}
                                    {{>transaction}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</template>