<template name="transactionInsert">
    {{#autoForm collection="Transactions" type="method" meteormethod="addTransaction" id="transactionInsert"}}
        <fieldset>
            <legend> Insert a transaction </legend>
            {{>afQuickField name="name"}}
            {{>afQuickField name="ammount" type="number"}}
            {{>afQuickField name="type" options=transactionTypes}}
        </fieldset>
        <button name="submitTransaction" type="submit" id="submitTransaction" class="btn btn-success form-control">Insert</button>
    {{/autoForm}}
</template>
