<template name="taskInsert">
    <form id="insertTask">
        <label for="name" class="control-label"></label>
        <input type="text" id="name" name="description" class="form-control">
        <label for="description" class="control-label"></label>
        <input type="text" id="description" name="description" class="form-control">
        <label for="due" class="control-label"></label>
        <input type="datetime-local" id="due" name="due" class="form-control">
        <button type="submit" class="form-control btn btn-primary">Create</button>
    </form>
</template>