<template name="tasklistShow">
    <div class="todo-list">
        <div class="task-list-heading">
            <label>
                <i class="fa fa-tasks"></i> {{name}}
            </label>
        </div>
        <div class="task-list-body">
            {{#if inserting}}
                <div class="form-box">
                    {{>taskInsert}}
                </div>
            {{else}}
            {{/if}}
            {{#each tasks}}
                {{>task}}
            {{/each}}
            <div class="buttons-box">
                <button class="btn btn-info btn-sm add-todo" id="addTask"><i class="fa fa-plus"></i> Add task</button>
            </div>
        </div>
    </div>
</template>
