<template name="tasklistEdit">
    {{#autoForm collection="Tasklists" id="updateTasklist" type='update' doc=this}}
        <fieldset>
            <legend>Edit Tasklist</legend>
            {{>afQuickField name='name'}}
            {{>afQuickField name='description'}}
            {{>afQuickField name='main' type='boolean-select'}}
        </fieldset>
        <button type="submit" class="btn btn-success"> Update </button>
        <button type="reset" id="cancelEditTask" class="btn btn-danger"> Cancel </button>
    {{/autoForm}}
</template>